<section>
  <h2>With <code>*ngIf</code></h2>

  <div>
    <button (click)="shortTask()">
      <span *ngIf="(loadingShort$ | async) === true">Loading...</span>
      Trigger short task
    </button>
    <button (click)="longTask()">
      <span *ngIf="(loadingLong$ | async) === true">Loading...</span>
      Trigger long task
    </button>
  </div>
</section>

<section>
  <h2>With <code>*omxDebounceIf</code></h2>

  <div>
    <button (click)="shortTask2()">
      <span *omxDebouncedIf="(loadingShort2$ | async) === true"
        >Loading...</span
      >
      Trigger short task
    </button>
    <button (click)="longTask2()">
      <span *omxDebouncedIf="(loadingLong2$ | async) === true">Loading...</span>
      Trigger long task
    </button>
  </div>
</section>
